---
layout: post
---
<style type="text/css">
  article > header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: lightgrey;
  }
  article > header > h1 > button {
    font-size: 0.5em;
    position: absolute;
    right: 0;
  }
  article strong {
    color: #ffa657;
  }
  article .del-grey {
    opacity: 0.6;
  }
  article .hidden {
    opacity: 0;
  }
</style>
<script>
  window.onload = () => {
    const card = document.getElementById('card');

    card.querySelectorAll('del').forEach(d => {
      d.className = 'del-grey';
    });

    card.querySelectorAll(':scope > p').forEach((p, key) => {
      if (key % 2 === 1) {
        p.classList.add('hidden');
        p.addEventListener('click', event => {
          p.classList.toggle('hidden');
          event.stopPropagation();
        });
      }
    });

    card.querySelectorAll(':scope > blockquote').forEach(b => {
      b.classList.add('hidden');
      b.addEventListener('click', event => {
        b.classList.toggle('hidden');
        event.stopPropagation();
      });
    });

    const button = document.createElement('button');
    button.textContent = '显示';
    button.addEventListener('click', () => {
      if (button.textContent === '显示') {
        button.textContent = '隐藏';
        card.querySelectorAll(':scope > p').forEach((p, key) => {
          if (key % 2 === 1) {
            p.classList.remove('hidden');
          }
        });
        card.querySelectorAll(':scope > blockquote').forEach(b => {
          b.classList.remove('hidden');
        });
      } else {
        button.textContent = '显示';
        card.querySelectorAll(':scope > p').forEach((p, key) => {
          if (key % 2 === 1) {
            p.classList.add('hidden');
          }
        });
        card.querySelectorAll(':scope > blockquote').forEach(b => {
          b.classList.add('hidden');
        });
      }
    });

    document.querySelector('article > header > h1').appendChild(button);
  }
</script>
<div id="card" class="card-content e-content" itemprop="articleBody">
  {{ content }}
</div>
