---
layout: post
---
<style type="text/css">
  article strong {
    color: #ffa657;
  }
  article .del-grey {
    opacity: 0.6;
  }
  article p.hidden {
    opacity: 0;
  }
</style>
<script>
  window.onload = () => {
    const article = document.querySelector('article');

    article.querySelectorAll('del').forEach(d => {
      const s = document.createElement('span');
      s.textContent = d.textContent;
      s.className = 'del-grey';
      d.replaceWith(s);
    });
    
    article.querySelectorAll('strong').forEach(s => {
      // original data in highlight
      const x = s.textContent;
      s.setAttribute('data-x', x);

      // new data in parenthesis
      const y = s.nextSibling.textContent.replace('(', '').split(')')[0];
      s.nextSibling.textContent = s.nextSibling.textContent.replace('(' + y + ')', '');
      s.setAttribute('data-y', y);

      s.addEventListener('click', event => {
        s.textContent = s.textContent === x ? y : x;
        event.stopPropagation();
      });
    });

    article.querySelectorAll('p').forEach((p, key) => {
      if (key % 2 === 1) {
        p.classList.add('hidden');
        p.addEventListener('click', event => {
          p.classList.toggle('hidden');
          event.stopPropagation();
        });
      }
    });

    let counter = 0;

    document.body.addEventListener('click', () => {
      counter += 1;
      if (counter % 3 === 0) {
        article.querySelectorAll('strong').forEach(s => {
          s.textContent = s.getAttribute('data-x');
        });
        article.querySelectorAll('p').forEach((p, key) => {
          if (key % 2 === 1) {
            p.classList.add('hidden');
          }
        });
      } 
      if (counter % 3 === 1) {
        article.querySelectorAll('strong').forEach(s => {
          s.textContent = s.getAttribute('data-y');
        });
        article.querySelectorAll('p').forEach((p, key) => {
          if (key % 2 === 1) {
            p.classList.add('hidden');
          }
        });
      }
      if (counter % 3 === 2) {
        article.querySelectorAll('strong').forEach(s => {
          s.textContent = s.getAttribute('data-x');
        });
        article.querySelectorAll('p').forEach((p, key) => {
          if (key % 2 === 1) {
            p.classList.remove('hidden');
          }
        });
      }
    });
  }
</script>
<div class="hl-content e-content" itemprop="articleBody">
  {{ content }}
</div>
