---
layout: post
---
<style type="text/css">
  #hl h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  #hl strong {
    color: #ffa657;
  }
  #hl .del-grey {
    opacity: 0.6;
  }
  #hl p.hidden {
    opacity: 0;
  }
</style>
<script>
  window.onload = () => {
    const hl = document.getElementById('hl');

    hl.querySelectorAll('del').forEach(d => {
      const s = document.createElement('span');
      s.textContent = d.textContent;
      s.className = 'del-grey';
      d.replaceWith(s);
    });

    hl.querySelectorAll(':scope > p').forEach((p, key) => {
      if (key % 2 === 1) {
        p.classList.add('hidden');
        p.addEventListener('click', event => {
          p.classList.toggle('hidden');
          event.stopPropagation();
        });
      }
    });

    hl.querySelectorAll('h3').forEach(h => {
      const button = document.createElement('button');
      button.textContent = '显示';
      button.addEventListener('click', () => {
        if (button.textContent === '显示') {
          button.textContent = '隐藏';
          hl.querySelectorAll(':scope > p').forEach((p, key) => {
          if (key % 2 === 1) {
            p.classList.remove('hidden');
          }
        });
        } else {
          button.textContent = '显示';
          hl.querySelectorAll(':scope > p').forEach((p, key) => {
          if (key % 2 === 1) {
            p.classList.add('hidden');
          }
        });
        }
      });
      h.append(button);
    });
  }
</script>
<div id="hl" class="hl-content e-content" itemprop="articleBody">
  {{ content }}
</div>
