---
layout: post
---
<style type="text/css">
  #hl strong {
    color: #ffa657;
  }
  #hl .del-grey {
    opacity: 0.6;
  }
  #hl p.hidden {
    opacity: 0;
  }
</style>
<script>
  window.onload = () => {
    const hl = document.getElementById('hl');

    hl.querySelectorAll('del').forEach(d => {
      const s = document.createElement('span');
      s.textContent = d.textContent;
      s.className = 'del-grey';
      d.replaceWith(s);
    });

    hl.querySelectorAll(':scope > p').forEach((p, key) => {
      if (key % 2 === 1) {
        p.classList.add('hidden');
        p.addEventListener('click', event => {
          p.classList.toggle('hidden');
          event.stopPropagation();
        });
      }
    });

    let hidden = true;

    document.body.addEventListener('click', () => {
      hidden = !hidden;

      if (hidden) {
        hl.querySelectorAll(':scope > p').forEach((p, key) => {
          if (key % 2 === 1) {
            p.classList.add('hidden');
          }
        });
      } else {
        hl.querySelectorAll(':scope > p').forEach((p, key) => {
          if (key % 2 === 1) {
            p.classList.remove('hidden');
          }
        });
      }
    });
  }
</script>
<div id="hl" class="hl-content e-content" itemprop="articleBody">
  {{ content }}
</div>
